.container {
  max-width: 50rem;
  height: 90vh;
}

.section-titles {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: -1.5rem;
}

.section-subtitles {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}

.header-banner {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #428cc2;
  height: 4rem;
  z-index: -1;
}

.header-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 1.3rem;
}

.links {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

.links a {
  color: white;
}

.links:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  height: 4.5rem;
  z-index: -1;
  border-top: 2px solid rgb(205, 202, 202);
}

.footer-buttons {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer-button:hover {
  cursor: pointer;
}

.footer-button p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: rgb(104, 101, 101);
}

.fa-solid {
  font-size: 1.5rem;
}

.two-thirds-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 45vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.current-text {
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: default;
}

.snapshot-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 30vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

textarea:focus {
  outline-color: rgb(239, 232, 232);
}

.bar-graph-container {
  width: 100%;
  height: 70%;
}

.add-view {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

label {
  margin-bottom: -0;
  font-weight: 500;
}

.form {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 2rem;
}

.form-buttons {
  height: 2.5rem;
  width: 12rem;
  margin: 0.5rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 3px rgba(104, 101, 101, 0.5);
  color: white;
}

.confirm {
  background-color: rgb(51, 170, 51);
}

.deny {
  background-color: rgb(202, 44, 44);
}

.month-year-buttons {
  padding: 0.7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.month-year-style {
  border-radius: 2rem;
  border-style: none;
  padding: 0.6rem;
  cursor: pointer;
}

.active-button {
  background-color: rgb(97, 188, 142);
}

.inactive-button {
  background-color: transparent;
}

.pie-chart-container {
  width: 100%;
}

.pie-chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.current-spending-table {
  width: 100%;
}

.current-card {
  padding-bottom: 1.5rem;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

.list-category {
  font-size: 0.8rem;
  margin-top: -0.2rem;
  color: rgba(13, 13, 13, 0.5);
}

input,
select {
  border-radius: 0.2rem;
  border-style: none;
}

@media (max-width: 650px) {
  .links {
    display: none;
  }

  .title {
    text-align: center;
  }
}

@media (min-width: 650px) {
  .header-container {
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .footer-banner,
  .footer-buttons {
    display: none;
  }

  .body-sections {
    display: flex;
    justify-content: space-between;
  }

  .two-thirds-card {
    width: 49%;
  }

  .snapshot-view {
    width: 49%;
  }
}
