button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* header */
.header-banner {
  background-color: #428cc2;
}

.header-container {
  color: white;
}

.title {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.title:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.links a {
  color: white;
}

.links:hover {
  cursor: pointer;
}

.links a:hover {
  text-decoration: none;
  color: #222125;
}

/* footer */
.footer-banner {
  background-color: white;
  border-top: 2px solid rgb(205, 202, 202);
}

.footer-buttons {
  background-color: white;
}

.footer-button p {
  color: rgb(104, 101, 101);
}

.footer-button:hover,
.footer-button:focus {
  text-decoration: none;
}

.fa-solid {
  font-size: 1.5rem;
}

/* home page */
.two-thirds-card {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.current-text {
  border: none;
  background-color: transparent;
  cursor: default;
}

.current-spending-body::-webkit-scrollbar {
  background-color: rgb(228, 228, 228);
}

.current-spending-body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 184, 184);
  border-radius: 2rem;
}

.empty-table {
  padding: 0 1rem;
  font-size: 0.9rem;
  font-style: italic;
}

.list-container {
  font-weight: 500;
  font-size: 1rem;
}

.list-category {
  font-size: 0.8rem;
  color: rgba(13, 13, 13, 0.5);
}

.edit-button {
  border-style: none;
  background-color: rgb(228, 228, 228);
}

.fa-pen-to-square {
  font-size: 1rem;
  color: #428cc2;
}

.snapshot-view {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

textarea:focus {
  outline-color: rgb(239, 232, 232);
}

/* add expense page */
.add-view {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

label {
  font-weight: 500;
}

.form {
  font-size: 0.9rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-buttons {
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 3px rgba(104, 101, 101, 0.5);
  color: white;
}

.confirm {
  background-color: #428cc2;
}

.deny {
  background-color: rgb(196, 26, 26);
}

input,
select {
  border-radius: 0.2rem;
  border-style: none;
}

/* delete item modal */
.modal-background {
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-container {
  background-color: rgb(239, 237, 237);
  transform: translate(-50%, -50%);
  border-radius: 0.2rem;
}

.modal-text {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.modal-button-confirm {
  border-radius: 0.5rem;
  border: none;
  background-color: grey;
  color: white;
}

.modal-button-deny {
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(202, 44, 44);
  color: white;
}

/* total spending page */
.month-year-style {
  border-radius: 2rem;
  border-style: none;
}

.active-button {
  background-color: #428cc2;
  color: white;
  font-weight: 500;
}

.inactive-button {
  background-color: transparent;
  border: 0.12rem solid rgb(206, 205, 205);
  color: black;
  font-weight: 500;
}

.month-year-total {
  font-size: 1rem;
  font-weight: 600;
}

.big-number {
  font-size: 2.2rem;
  color: #7e5ff1;
}

.one-third-card {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.monthly-category-chart {
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.category-col::-webkit-scrollbar {
  display: none;
}

.category-name {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.category-total {
  font-size: 0.9rem;
  font-weight: 500;
  color: #7e5ff1;
}

.percentages {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(104, 101, 101);
}

.error-message {
  color: rgb(224, 6, 6);
  font-size: 0.8rem;
}

/* loading and offline visual */
.lds-facebook {
  transform: translate(-50%, -50%);
}

.lds-facebook div {
  background: #927ae9;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.offline-error {
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-radius: 0.3rem;
  color: rgb(201, 52, 52);
}

.offline-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* media queries */
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .title {
    text-align: center;
  }

  .content-wrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .content-wrapper::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-container {
    color: white;
  }

  .footer-banner,
  .footer-buttons {
    display: none;
  }

  .section-titles {
    font-size: 1.2rem;
  }

  .section-subtitles,
  .list-container {
    font-size: 1.1rem;
  }

  .list-category {
    font-size: 0.9rem;
  }

  .big-number {
    font-size: 2.5rem;
  }
}
