.container {
  max-width: 50rem;
  height: 90vh;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.section-titles {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: -1.5rem;
}

.section-subtitles {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}

.header-banner {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #428cc2;
  height: 4rem;
  z-index: -1;
}

.header-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 1.3rem;
}

.links {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

.links a {
  color: white;
}

.links:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  height: 4.5rem;
  z-index: -1;
  border-top: 2px solid rgb(205, 202, 202);
}

.footer-buttons {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer-button p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: rgb(104, 101, 101);
}

.fa-solid {
  font-size: 1.5rem;
}

.two-thirds-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 45vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.current-text {
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: default;
}

.snapshot-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 30vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

textarea:focus {
  outline-color: rgb(239, 232, 232);
}

.bar-graph-container {
  width: 100%;
  height: 70%;
}

.add-view {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

label {
  margin-bottom: -0;
  font-weight: 500;
}

.form {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 2rem;
}

.form-buttons {
  height: 2.5rem;
  width: 12rem;
  margin: 0.5rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 3px rgba(104, 101, 101, 0.5);
  color: white;
}

.confirm {
  background-color: #428cc2;
}

.deny {
  background-color: rgb(196, 26, 26);
}

.month-year-buttons {
  padding: 0.7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.month-year-style {
  border-radius: 2rem;
  border-style: none;
  padding: 0.6rem;
}

.active-button {
  background-color: #428cc2;
  color: white;
  font-weight: 500;
}

.inactive-button {
  background-color: transparent;
  border: 0.12rem solid rgb(206, 205, 205);
  color: black;
  font-weight: 500;
}

.top-spending-container {
  width: 100%;
}

.monthly-pie-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 30vh;
  background-color: rgb(228, 228, 228);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(104, 101, 101, 0.5);
}

.pie-chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.current-spending-table {
  width: 98%;
}

.current-spending-body {
  display: block;
  overflow-y: auto;
  max-height: 37vh;
}

.current-spending-body::-webkit-scrollbar {
  background-color: rgb(228, 228, 228);
  width: 3px;
}

.current-spending-body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 184, 184);
  border-radius: 2rem;
}

.current-card {
  padding-bottom: 1.5rem;
}

.empty-table {
  padding-left: 1rem;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 0.3rem;
  font-weight: 500;
}

.list-category {
  font-size: 0.8rem;
  margin-top: -0.2rem;
  color: rgba(13, 13, 13, 0.5);
}

input,
select {
  border-radius: 0.2rem;
  border-style: none;
}

.edit-button {
  border-style: none;
  background-color: rgb(228, 228, 228);
}

.fa-pen-to-square {
  font-size: 1rem;
  color: #428cc2;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-container {
  background-color: rgb(239, 237, 237);
  padding: 5% 10%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.2rem;
}

.modal-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.modal-text {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 12rem;
  margin: auto;
}

.modal-button-confirm {
  height: 2.5rem;
  width: 5.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: grey;
  color: white;
}

.modal-button-deny {
  height: 2.5rem;
  width: 5.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(202, 44, 44);
  color: white;
}

@media (max-width: 650px) {
  .links {
    display: none;
  }

  .title {
    text-align: center;
  }
}

@media (min-width: 650px) {
  .header-container {
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .footer-banner,
  .footer-buttons {
    display: none;
  }

  .body-sections {
    display: flex;
    justify-content: space-between;
  }

  .two-thirds-card {
    width: 49%;
  }

  .snapshot-view {
    width: 49%;
  }
}
